.top-bar{
    color: #000 !important;
    font-weight: bold !important;
    font-size: 1.2em !important;
}
.icon-search{
    height: 25px;
    width: 25px;
}
.account{
    height: 25px;
    width: 25px;
}
.heart{
    height: 25px;
    width: 25px;
}
.cart{
    height: 25px;
    width: 25px;
}
#menu li{
    border: 2px solid;
    border-radius: 4px;
    font-weight: bold;
}
.dropdown-menu{
    background-color: black;
}
.navbar-toggler{
    background-image: url("../images/menu-icon.png");
}
#customize-home {
    border: 2px solid;
    padding: 6px;
    border-radius: 4px;
    font-weight: bold;
}
#top-header{
    background: black;
    opacity: 0.4;
    color: white;
}
#foot-block{
    background: darkgray;
}
#foot-block-last{
    background: black;
}